# ====== 以Pro/Max/Ultra为矩阵编译3个配置： ======
# ====== Pro 禁用USB/Docker/mwan3/Coremark ======
# ====== Max 取消禁用使用默认 ======
# ====== Ultra 添加更多ipk ======

# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01="ipq-wifi-jdcloud_re-ss-01 -kmod-ath11k-pci zram-swap"
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="ipq-wifi-jdcloud_re-cs-02 ath11k-firmware-qcn9074 kmod-ath11k-pci luci-app-athena-led luci-i18n-athena-led-zh-cn"
CONFIG_TARGET_ROOTFS_INITRAMFS=n

## 通用配置文件
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Swap
CONFIG_PACKAGE_zram-swap=m

# Proto
CONFIG_PACKAGE_proto-bonding=y
# CONFIG_PACKAGE_luci-proto-quectel=y
# CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

# ====== n表示禁用，y表示安装，#表示注释以系统默认为准 ======
# ====== 如果重复以最后的一条来决定禁用/安装/默认 ======
#  USB Support
CONFIG_PACKAGE_kmod-usb-acm=n
CONFIG_PACKAGE_kmod-usb-ehci=n
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=n
CONFIG_PACKAGE_kmod-usb-net-ipheth=n
CONFIG_PACKAGE_kmod-usb-net-rndis=n
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152=n
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=n
CONFIG_PACKAGE_kmod-usb-ohci=n
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_kmod-usb2=n

#  docker kernel dependencies
CONFIG_PACKAGE_kmod-br-netfilter=n
CONFIG_PACKAGE_kmod-ip6tables=n
CONFIG_PACKAGE_kmod-ipt-conntrack=n
CONFIG_PACKAGE_kmod-ipt-extra=n
CONFIG_PACKAGE_kmod-ipt-nat=n
CONFIG_PACKAGE_kmod-ipt-nat6=n
CONFIG_PACKAGE_kmod-ipt-physdev=n
CONFIG_PACKAGE_kmod-nf-ipt6=n
CONFIG_PACKAGE_kmod-nf-ipvs=n
CONFIG_PACKAGE_kmod-nf-nat6=n
CONFIG_PACKAGE_kmod-dummy=n
CONFIG_PACKAGE_kmod-veth=n
#  docker dependencies
CONFIG_PACKAGE_iptables-mod-extra=n
CONFIG_PACKAGE_ip6tables-mod-fullconenat=n
CONFIG_PACKAGE_iptables-mod-fullconenat=n
CONFIG_PACKAGE_libip4tc=n
CONFIG_PACKAGE_libip6tc=n

#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=n
CONFIG_PACKAGE_kmod-macvlan=n

#  Coremark
CONFIG_PACKAGE_coremark=n
CONFIG_COREMARK_OPTIMIZE_O3=n
CONFIG_COREMARK_ENABLE_MULTITHREADING=n
#CONFIG_COREMARK_NUMBER_OF_THREADS=6

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y

# Package
CONFIG_PACKAGE_adduser=y
#CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
#CONFIG_PACKAGE_usbutils=y
#CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y

# === 雅典娜灯光控制 ===
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m

# ====== ZqinKing定制包 ======
# CONFIG_PACKAGE_luci-app-adguardhome=y
# CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
# CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-cupsd=m
# CONFIG_PACKAGE_luci-app-diskman=y
# CONFIG_PACKAGE_luci-app-dockerman=m
# CONFIG_PACKAGE_luci-app-easytier=y
# CONFIG_PACKAGE_luci-app-istorex=y
# CONFIG_PACKAGE_luci-app-lucky=y
# CONFIG_PACKAGE_luci-app-mosdns=y
# CONFIG_PACKAGE_luci-app-oaf=y
# CONFIG_PACKAGE_luci-app-quickfile=y
# CONFIG_PACKAGE_luci-app-samba4=y
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-sqm=y
# CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_luci-app-vlmcsd=y
# CONFIG_PACKAGE_luci-app-wol=y

# ====== Mary定制包Base ======
# ====== 以下的包会默认安装到所有设备！ ======
# ====== 不希望安装的建议添加到单独配置文件！ ======
# 调整工作流合并顺序，General+ipq60xx+Pro+Max+Ultra（LibWrt），如果有相同配置不同参数以最后添加的Config为准。
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-netspeedtest=y
CONFIG_PACKAGE_openclash=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-partexp=y
CONFIG_PACKAGE_luci-i18n-partexp-zh-cn=y
CONFIG_PACKAGE_samba4=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_tailscale=y
CONFIG_PACKAGE_luci-app-tailscale=y
CONFIG_PACKAGE_luci-i18n-tailscale-zh-cn=y
CONFIG_PACKAGE_taskplan=y
CONFIG_PACKAGE_luci-app-taskplan=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wolplus=y

# ====== Mary定制包Max ======
# ====== 可以只添加luci和i18n，依赖原包会自动安装 ======
# ====== n表示禁用，y表示安装，#表示注释以系统默认为准 ======
# ====== 如果重复以最后的一条来决定禁用/安装/默认 ======
# CONFIG_PACKAGE_easytier=y
# CONFIG_PACKAGE_luci-app-easytier=y
# CONFIG_PACKAGE_luci-i18n-easytier-zh-cn=y
# CONFIG_PACKAGE_luci-app-lucky=y
# CONFIG_PACKAGE_luci-i18n-lucky-zh-cn=y

# ====== Mary定制包Ultra ======
# ====== 可以只添加luci和i18n，依赖原包会自动安装 ======
# ====== n表示禁用，y表示安装，#表示注释以系统默认为准 ======
# ====== 如果重复以最后的一条来决定禁用/安装/默认 ======
# CONFIG_PACKAGE_adguardhome=y
# CONFIG_PACKAGE_luci-app-adguardhome=y
# CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
# CONFIG_PACKAGE_luci-app-homeproxyr=y
# CONFIG_PACKAGE_luci-app-istorex=y
# CONFIG_PACKAGE_momo=y
# CONFIG_PACKAGE_luci-app-momo=y
# CONFIG_PACKAGE_luci-i18n-momo-zh-cn=y
# CONFIG_PACKAGE_nikki=y
# CONFIG_PACKAGE_luci-app-nikki=y
# CONFIG_PACKAGE_luci-i18n-nikki-zh-cn=y
# CONFIG_PACKAGE_luci-app-openlist2=y
# CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_quickfile=y
# CONFIG_PACKAGE_luci-app-quickfile=y
# CONFIG_PACKAGE_quickstart=y
# CONFIG_PACKAGE_luci-app-quickstart=y
# CONFIG_PACKAGE_luci-app-vlmcsd=y


# ====== Mary定制暂时不用的包 ======
#CONFIG_PACKAGE_luci-app-autoreboot=y
#CONFIG_PACKAGE_luci-app-cupsd=m
#CONFIG_PACKAGE_luci-app-diskman=y
#CONFIG_PACKAGE_luci-app-dockerman=m
#CONFIG_PACKAGE_luci-app-frpc=y
#CONFIG_PACKAGE_luci-app-frps=y
#CONFIG_PACKAGE_luci-app-mosdns=y
#CONFIG_PACKAGE_luci-app-oaf=y
#CONFIG_PACKAGE_luci-app-openlist2=y
#CONFIG_PACKAGE_luci-app-smartdns=y
#CONFIG_PACKAGE_luci-app-smbuser=y
#CONFIG_PACKAGE_luci-app-sqm=y
#CONFIG_PACKAGE_luci-app-uhttpd=y
#CONFIG_PACKAGE_luci-app-usb-printer=y
#CONFIG_PACKAGE_luci-app-watchcat=y
#CONFIG_PACKAGE_luci-app-wifischedule=y
#CONFIG_PACKAGE_sqm-scripts-nss=y